<ion-card>
  <a [href]="'/ship/' + ship.id" (click)="goToShip($event, ship.id)">
    <ion-card-content>
      <div class="shipWrap" #wrapper>
      </div>
      <ion-row no-padding *ngIf="!demo">
        <ion-col col-12>
          <div class="weaponWrap">
            <img class="weaponIcon" [src]="'/assets/imgs/weapons/' + ship.secondaryWeapon + '.png'" [title]="ship.secondaryWeapon" />
            <img class="weaponIcon" [src]="'/assets/imgs/weapons/' + ship.primaryWeapon + '.png'" [title]="ship.primaryWeapon" />
          </div>
        </ion-col>
      </ion-row>
      <div class="bottom">
        <ion-card-title class="ellip" *ngIf="!demo">
          {{ ship.name ? ship.name : "Ship " + ship.id }}
        </ion-card-title>
        <ion-row class="info" no-padding *ngIf="!demo">
          <span class="ship-num">Ship #{{ ship.id }}</span>
          <span class="rare" *ngIf="ship.id % 41 == 0 || ship.id % 151 == 1">RARE</span>
          <span *ngIf="ship.price" class="danger">{{ ship.price / 1000000000000000000 }} Eth</span>
        </ion-row>
      </div>
    </ion-card-content>
  </a>
</ion-card>