ship-card {
  pointer-events: auto !important;
  ion-card-title {
    text-overflow: ellipsis !important;
  }
  ion-card {
    height: 94% !important;
  }
  .shipSVG {
    margin: 4%;
    overflow: visible !important;
  }
  .shipWrap {
  }
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;

  --primary-color: orange;
  --secondary-color: purple;
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    opacity: 1;
  }

  button {
    background-color: transparent !important;
  }

  // svg {
  //   --secondary-color: green;
  // }

  // use {
  //   .cls-4 {
  //     fill: red;
  //   }
  // }

  // svg path {
  //   fill: inherit;
  // }

  // .svgClass {
  //   --second-color: yellow;
  // }

  // --primary-color: #0099cc;
  // --secondary-color: #ffdf34;
  // --tertiary-color: #333;

  // #shiper1,
  // #ship1 {
  //   --primary-color: #0099cc;
  //   --secondary-color: #ffdf34;
  //   --tertiary-color: #333;
  // }

  .ship-num {
    color: var(--accent);
  }
  .rare {
    border-radius: 50px;
    border:  grey solid 1px;
    background-color: rgb(250, 214, 11) !important;
    padding-left: 8px;
    padding-right: 8px;
    margin-left : 5px;
    display: flex;
    align-items: center;
    color: rgba(51,54,108, 0.9);
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    border-color: grey;
    padding-top: 2px;
    border-width: 1px;
  }
  .info {
    display: flex;
    align-items: center;;
  }

  .bottom {
    position: absolute;
    bottom: 0;
  }
}

ship-card,
ship-select {
  .weaponWrap {
    bottom: 0;
    position: absolute;
  }
  .weaponIcon {
    width: 18%;
    float: right;
    padding-left: 2px;
    background-color: rgba(128,128,128, 0.63);
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(51,54,108, 0.4);
    border-style: solid;
  }
}
